[Unit]
Description=Run Hunter home assess mission daily

[Timer]
OnCalendar=*-*-* 03:00:00
Unit=sentinel-hunter@home_assess.service
Persistent=true

[Install]
WantedBy=timers.target
