[Unit]
Description=SentinelZero Loopback Interface Prep
After=network.target
Before=sentinelzero-backend.service

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/home/sentinel/SentinelZero/setup-loopbacks.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
